[Unit]
Description=SCANOSS Vulnerabilities API Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=scanoss
ExecStart=/usr/local/bin/scanoss-vulnerabilities-api.sh

[Install]
WantedBy=multi-user.target